.launching-text {
    color: #000; /* Black color for text */
    margin: 0; /* Remove extra margin */
    padding: 0; /* Remove extra padding */
    line-height: 1.2; /* Adjust the line height */
    font-style: normal; /* Normal font style */
    text-align: center; /* Center align the text */
    font-size: 36px; /* Adjusted font size */
    font-family: "Poppins", serif;
    margin-top: 30px;
}

.launching-text h1 {
    font-weight: 900; /* Bold font */
    margin: 0; /* Remove extra margin */
    padding: 0; /* Remove extra padding */
    font-size: 6rem; /* Adjust size of the text */
}

p {
    font-size: 1.2rem; /* Adjusted font size */
    color: #000; /* Black color */
    margin: 10px;
    margin-top: 20px; /* Reduced top margin */
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .logo-v {
    max-width: 150px;
    margin-top: 140px;
  }
  
  .name-logo {
    max-width: 300px;
    margin-top: 10px;
  }

.instagram-link {

    text-decoration: none;
    margin: 20px 0;

    cursor: pointer;
}

  
  .instagram-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    padding: 15px 20px;
    width: 100%;
  }
  
  .instagram-content span {
    color: black;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .insta-icon {
    width: 24px;
    height: 24px;
    margin: 0;
  }

.instagram-link:hover .insta-icon {
    transform: scale(1.1);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .full-screen-background {
    background-image: url('../assets/LaunchingSoon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .full-screen-background button {
    background-color: #242a29;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 50px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
  }
  
  .full-screen-background button:hover {
    background-color: #444;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .full-screen-background {
        background-size: contain;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .insta-icon {
        max-width: 25px;
    }
}

@media (max-width: 480px) {
    .full-screen-background {
        background-size: contain;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .insta-icon {
        max-width: 20px;
    }
}
